# 标题
VITE_TITLE=

# 系统名称
VITE_NAME=

# 后台名称
VITE_MANAGE=

# 简书地址
VITE_JIANSHU=

# github地址
VITE_GITHUB=

# 是否显示主页copyright信息
VITE_COPYRIGHT=false

# 旧地址
VITE_OLDLINK=

# 是否启用多用户
VITE_USERS=true

# 主页是否显示登录按钮
VITE_LOGIN_SHOW=true