@font-face {
  font-family: "iconfont"; /* Project id 4639039 */
  src: url('iconfont.eot?t=1725417077902'); /* IE9 */
  src: url('iconfont.eot?t=1725417077902#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1725417077902') format('woff2'),
       url('iconfont.woff?t=1725417077902') format('woff'),
       url('iconfont.ttf?t=1725417077902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e61e";
}

.icon-untop:before {
  content: "\e6eb";
}

.icon-search:before {
  content: "\e606";
}

.icon-fabu:before {
  content: "\e628";
}

.icon-unrelease:before {
  content: "\e64e";
}

.icon-save:before {
  content: "\e936";
}

.icon-close:before {
  content: "\e6dc";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-tianjia:before {
  content: "\e7df";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-blog:before {
  content: "\e615";
}

.icon-fenlei:before {
  content: "\e621";
}

.icon-menu:before {
  content: "\e7c5";
}

.icon-shenhe:before {
  content: "\e69a";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-user:before {
  content: "\ed52";
}

.icon-baitian:before {
  content: "\e713";
}

